<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>第一个网页</title>
    <style>
        body{
            background-image: url("/snow.jpg");
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<h1 style="background-color: black"><center style="font-family: 'Arial Black';color: azure">我的第一个网页</center></h1>
<p style="background-color: aquamarine">the first:</p>
<center style="color: red"><font style="background-color: brown">我的第一个网页</font></center><br>
这是一张图片：
<img src="/ikun.jpg">
<a href="/xxxx?filename=myname">我的数值</a>
<a href="https://music.163.com/#/video?id=D0AD33534408CDA6F282BE2AE932AA7F"><br>我来教你如何打篮球</a>
<table border="1">
    <tr>
        <th>first</th>
        <th>second</th>
        <th>third</th>
    </tr>
    <tr>
        <td>123123</td>
        <td>114514</td>
        <td>132132</td>
    </tr>
    <tr>
        <td>123123</td>
        <td>114514</td>
        <td>132132</td>
    </tr>
    <tr>
        <td>123123</td>
        <td>114514</td>
        <td>132132</td>
    </tr>
</table>
<form>
    用户名<br><input name="name" type="number"><br>
    密码<br><input type="password">
    <input type="radio" value="7777">radio
    <select>
        <option>12121</option>
        <option>12312</option>
    </select>
</form>
</body>
</html>