<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <style>
        .header{
            color: white;
        }
        body{
            background-image: url('../static/volcano-1905556_960_720.jpg');
            background-repeat: repeat;
            background-size: 100% 241%;
            color: white;
        }
        p{
            color: white;
        }
    </style>
</head>
<body>
<div class="header">
<h1><center>注册页面</center></h1>
</div>

<div class="content">
<form action="/doregister" method="post">
    <label for="username">用户名:</label><br>
    <input type="text" id="username" name="name"><br><br>
    <label for="password">密码:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="注册">
</form>
</div>
</body>
</html>
