<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>李忘忧的主页</title>
    <style>
        .header{
            color: white;
        }
        body{
            background-image: url('../static/volcano-1905556_960_720.jpg');
            background-repeat: repeat;
            background-size: 100% 100%;
        }
        p{
            color: white;
        }
    </style>
</head>
<body>
<span>
    <div class="header">
    <h1><center>欢迎来到我的主页</center></h1>
</div>
</span>
<div class="content">
    <p>这里是一些内容...</p>
</div>

</body>
</html>